.container {
    max-width: 400px;
    margin: 35px 350px;
    box-shadow: 30px 30px 30px 30px green;
  }
  #display {
    text-align: right;
    height: 100px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
  }
  .buttons {
    display: grid;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .buttons > div {
    border-top: 1px solid green;
    border-right: 1px solid greenyellow;
  }
  .button {
    border: 5px solid #999;
    line-height: 75px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
  }
  #equal {
    background-color: rgb(85, 85, 255);
    color: white;
  }
  
  .button:hover {
    background-color:aqua;
    color: ghostwhite;
    transition: 2.0s ease-in-out;
  }